# Exploratory Data Analysis of IPL Dataset

## Importing required libraries

In [ ]:
import pandas as pd
import numpy as np

### Read deliveries.csv as a DataFrame called df_ball

In [4]:
df_ball=pd.read_csv('deliveries.csv')

### Check first two record of the dataset

In [5]:
df_ball.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

### Check last two records of the dataset

In [6]:
df_ball.tail(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

### Check 3 random records

In [7]:
df_ball.sample(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
162231,7943,2,Kings XI Punjab,Mumbai Indians,11,5,AJ Finch,KL Rahul,KH Pandya,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
76175,323,2,Delhi Daredevils,Deccan Chargers,13,3,KP Pietersen,IK Pathan,JP Duminy,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
126152,532,1,Kings XI Punjab,Kolkata Knight Riders,1,6,WP Saha,V Sehwag,UT Yadav,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN

### Check basic info of the DataFrame

In [26]:
df_ball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

### Check the data type of all the columns

In [8]:
df_ball.dtypes

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
is_super_over        int64
wide_runs            int64
bye_runs             int64
legbye_runs          int64
noball_runs          int64
penalty_runs         int64
batsman_runs         int64
extra_runs           int64
total_runs           int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

### Check total number of missing values in each column

In [11]:
df_ball.isnull().sum()/len(df_ball)*100

match_id             0.000000
inning               0.000000
batting_team         0.000000
bowling_team         0.000000
over                 0.000000
ball                 0.000000
batsman              0.000000
non_striker          0.000000
bowler               0.000000
is_super_over        0.000000
wide_runs            0.000000
bye_runs             0.000000
legbye_runs          0.000000
noball_runs          0.000000
penalty_runs         0.000000
batsman_runs         0.000000
extra_runs           0.000000
total_runs           0.000000
player_dismissed    95.066954
dismissal_kind      95.066954
fielder             96.399334
dtype: float64

### Drop columns which has more than 50% missing values

In [28]:
df_ball.drop(['player_dismissed','dismissal_kind','fielder'],axis=1,inplace=True)

In [29]:
df_ball.sample(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
123760,522,1,Kolkata Knight Riders,Royal Challengers Bangalore,10,4,RV Uthappa,G Gambhir,YS Chahal,0,0,0,0,0,0,1,0,1
68101,288,1,Rajasthan Royals,Royal Challengers Bangalore,18,2,LRPL Taylor,AL Menaria,CK Langeveldt,0,0,0,0,0,0,0,0,0
164480,7952,2,Kolkata Knight Riders,Sunrisers Hyderabad,16,3,PP Chawla,S Gill,K Ahmed,0,0,0,0,0,0,1,0,1

### Check total no of duplicated values in the data and drop those duplicated values permanently and recheck

In [30]:
df_ball.duplicated().sum()

24

In [31]:
df_ball.drop_duplicates(inplace=True)

In [32]:
df_ball.duplicated().sum()

0

### Check shape of the DataFrame

In [34]:
df_ball.shape

(179054, 18)

### Count of players who palyed IPL from 2008 to 2019

In [12]:
d=df_ball.dropna()
d
pd.concat([d['batsman'],d['bowler'],d['non_striker'],d['fielder']]).nunique()

592

### Name of all the players

In [13]:
pd.concat([d['batsman'],d['bowler'],d['non_striker'],d['fielder']]).unique()

array(['DA Warner', 'S Dhawan', 'MC Henriques', 'CH Gayle', 'KM Jadhav',
       'TM Head', 'Sachin Baby', 'STR Binny', 'SR Watson', 'TS Mills',
       'A Choudhary', 'KH Pandya', 'N Rana', 'KA Pollard', 'HH Pandya',
       'MA Agarwal', 'AM Rahane', 'BA Stokes', 'JJ Roy', 'AJ Finch',
       'KD Karthik', 'SPD Smith', 'DT Christian', 'M Vohra', 'HM Amla',
       'Vishnu Vinod', 'SW Billings', 'SV Samson', 'DR Smith',
       'DS Kulkarni', 'G Gambhir', 'RV Uthappa', 'YK Pathan', 'SA Yadav',
       'CR Woakes', 'Mandeep Singh', 'AP Tare', 'RR Pant', 'RA Tripathi',
       'F du Plessis', 'MS Dhoni', 'R Bhatia', 'DL Chahar', 'A Zampa',
       'AB Dinda', 'DJ Hooda', 'V Shankar', 'NV Ojha', 'PA Patel',
       'GJ Maxwell', 'DA Miller', 'WP Saha', 'AR Patel', 'MM Sharma',
       'VR Aaron', 'SP Narine', 'V Kohli', 'AB de Villiers', 'P Negi',
       'JC Buttler', 'MJ McClenaghan', 'Ankit Sharma', 'MK Tiwary',
       'BB McCullum', 'MK Pandey', 'Yuvraj Singh', 'BCJ Cutting',
       'KK Nair', 'SS Iyer', 'CH Morris', 'EJG Morgan', 'SK Raina',
       'Ishan Kishan', 'SN Thakur', 'C de Grandhomme', 'Mohammad Nabi',
       'RA Jadeja', 'KS Williamson', 'AD Mathews', 'SE Marsh',
       'MP Stoinis', 'RG Sharma', 'NM Coulter-Nile', 'YS Chahal',
       'Harbhajan Singh', 'S Badree', 'S Aravind', 'CJ Anderson',
       'MJ Guptill', 'Anureet Singh', 'AF Milne', 'IK Pathan',
       'JP Faulkner', 'JJ Bumrah', 'SL Malinga', 'K Rabada',
       'Mohammed Shami', 'SP Jackson', 'KV Sharma', 'PJ Sangwan',
       'Basil Thampi', 'Bipul Sharma', 'B Kumar', 'LMP Simmons',
       'MN Samuels', 'PJ Cummins', 'Z Khan', 'CA Lynn', 'AT Rayudu',
       'Kuldeep Yadav', 'R Tewatia', 'Swapnil Singh', 'I Sharma',
       'S Nadeem', 'IR Jaggi', 'PP Chawla', 'SC Ganguly', 'RT Ponting',
       'DJ Hussey', 'JH Kallis', 'W Jaffer', 'MV Boucher', 'B Akhil',
       'CL White', 'AA Noffke', 'SB Joshi', 'K Goel', 'JR Hopes',
       'KC Sangakkara', 'T Kohli', 'M Kaif', 'L Ronchi', 'ST Jayasuriya',
       'PR Shah', 'AM Nayar', 'S Chanderpaul', 'LRPL Taylor',
       'Y Venugopal Rao', 'VVS Laxman', 'AC Gilchrist', 'AS Yadav',
       'A Symonds', 'WPUJC Vaas', 'SB Bangar', 'RP Singh',
       'Mohammad Hafeez', 'DPMD Jayawardene', 'B Lee', 'S Sohal',
       'Kamran Akmal', 'DJ Bravo', 'MA Khote', 'Shahid Afridi',
       'GC Smith', 'SK Warne', 'RR Sarwan', 'S Sreesanth', 'SM Pollock',
       'R Dravid', 'P Kumar', 'M Rawat', 'AB Agarkar', 'LR Shukla',
       'Shoaib Malik', 'MF Maharoof', 'SM Katich', 'TM Srivastava',
       'MEK Hussey', 'DW Steyn', 'DB Das', 'M Kartik', 'HH Gibbs',
       'D Kalyankrishna', 'SA Asnodkar', 'Umar Gul', 'S Vidyut',
       'JA Morkel', 'V Sehwag', 'LPC Silva', 'Misbah-ul-Haq',
       'YV Takawale', 'SS Tiwary', 'Mohammad Asif', 'GD McGrath',
       'Joginder Sharma', 'S Anirudha', 'SP Fleming', 'S Badrinath',
       'CK Kapugedera', 'BJ Hodge', 'T Taibu', 'J Arunkumar', 'SB Styris',
       'SP Goswami', 'R Vinay Kumar', 'VRV Singh', 'Salman Butt',
       'A Chopra', 'DB Ravi Teja', 'Niraj Patel', 'A Mishra', 'PP Ojha',
       'Shoaib Akhtar', 'SR Tendulkar', 'TM Dilshan', 'DT Patil',
       'A Kumble', 'H Das', 'B Chipli', 'Sohail Tanvir', 'SD Chitnis',
       'CRD Fernando', 'VS Yeligati', 'MS Gony', 'L Balaji',
       'LA Pomersbach', 'VY Mahesh', 'WA Mota', 'ML Hayden', 'JDP Oram',
       'JD Ryder', 'KP Pietersen', 'AD Mascarenhas', 'MM Patel',
       'Kamran Khan', 'R Bishnoi', 'RS Bopara', 'A Flintoff',
       'PC Valthaty', 'RJ Quiney', 'Yashpal Singh', 'JP Duminy',
       'AS Raut', 'AN Ghosh', 'RE van der Merwe', 'TL Suman',
       'Shoaib Ahmed', 'SK Trivedi', 'GR Napier', 'MN van Wyk',
       'AA Bilakhia', 'M Vijay', 'SB Jakati', 'M Muralitharan',
       'D du Preez', 'LA Carseldine', 'M Morkel', 'J Botha', 'C Nanda',
       'M Manhas', 'DL Vettori', 'A Singh', 'GJ Bailey', 'Y Nagar',
       'R Ashwin', 'T Thushara', 'Mohammad Ashraful', 'CA Pujara',
       'P Dogra', 'MS Bisla', 'JM Kemp', 'AA Jhunjhunwala', 'OA Shah',
       'RS Gavaskar', 'S Ladda', 'MJ Lumb', 'DR Martyn', 'S Narwal',
       'Anirudh Singh', 'Jaskaran Singh', 'AB Barath', 'FY Fazal',
       'R Sathish', 'J Theron', 'AC Voges', 'R Sharma', 'MD Mishra',
       'PD Collingwood', 'SW Tait', 'RJ Harris', 'AP Dole', 'A Nehra',
       'KP Appanna', 'C Madan', 'AG Paunikar', 'MR Marsh', 'Pankaj Singh',
       'RV Gomez', 'UT Yadav', 'Sunny Singh', 'UBT Chand', 'AL Menaria',
       'WD Parnell', 'JJ van der Wath', 'R Ninan', 'SB Wagh',
       'JEC Franklin', 'R McLaren', 'S Randiv', 'BJ Haddin', 'DJ Jacobs',
       'NLTC Perera', 'NL McCullum', 'A Mithun', 'RN ten Doeschate',
       'TR Birt', 'TD Paine', 'M Klinger', 'Harpreet Singh',
       'AC Blizzard', 'RR Powar', 'CA Ingram', 'AB McDonald',
       'KB Arun Karthik', 'S Sriram', 'ND Doshi', 'AUK Pathan',
       'CJ Ferguson', 'DE Bollinger', 'RE Levi', 'DJ Harris',
       'Shakib Al Hasan', 'AA Chavan', 'GB Hogg', 'RR Bhatkal',
       'Harmeet Singh', 'CJ McKay', 'Azhar Mahmood', 'KK Cooper',
       'N Saini', 'AC Thomas', 'RJ Peterson', 'A Ashish Reddy',
       'V Pratap Singh', 'MJ Clarke', 'PA Reddy', 'AP Majumdar',
       'Gurkeerat Singh', 'AD Russell', 'A Chandila', 'Sunny Gupta',
       'MC Juneja', 'GH Vihari', 'MDKJ Perera', 'P Awana', 'DH Yagnik',
       'R Rampaul', 'SMSM Senanayake', 'BJ Rohrer', 'KL Rahul',
       'J Syed Mohammad', 'Q de Kock', 'BB Samantray', 'R Dhawan',
       'BMAJ Mendis', 'LJ Wright', 'AG Murtaza', 'DJG Sammy',
       'KW Richardson', 'CM Gautam', 'MG Johnson', 'NJ Maddinson',
       'JDS Neesham', 'MA Starc', 'BR Dunk', 'RR Rossouw', 'PV Tambe',
       'HV Patel', 'VH Zol', 'R Shukla', 'S Rana', 'M de Lange',
       'S Gopal', 'JO Holder', 'Imran Tahir', 'JD Unadkat', 'SA Abbott',
       'D Wiese', 'SN Khan', 'DJ Muthuswami', 'Iqbal Abdulla',
       'J Suchith', 'TG Southee', 'AD Nath', 'M Ashwin', 'NS Naik',
       'CR Brathwaite', 'Parvez Rasool', 'PSP Handscomb', 'UT Khawaja',
       'S Kaushik', 'F Behardien', 'KJ Abbott', 'C Munro', 'ER Dwivedi',
       'M Wood', 'R Singh', 'D Short', 'K Gowtham', 'Rashid Khan',
       'S Kaul', 'Sandeep Sharma', 'AJ Tye', 'M Ur Rahman', 'E Lewis',
       'S Gill', 'S Mavi', 'T Curran', 'TA Boult', 'Washington Sundar',
       'B Laughlin', 'R Bhui', 'H Klaasen', 'J Archer', 'L Plunkett',
       'BB Sran', 'A Hales', 'M Lomror', 'P Shaw', 'Mohammed Siraj',
       'D Shorey', 'M Ali', 'P Chopra', 'I Sodhi', 'AS Rajpoot',
       'J Searles', 'S Hetmyer', 'S Dube', 'C Ingram', 'K Paul',
       'N Pooran', 'M Markande', 'J Bairstow', 'H Vihari', 'P R Barman',
       'H Viljoen', 'RD Chahar', 'P Krishna', 'S Curran', 'R Parag',
       'A Turner', 'S Rutherford', 'M Santner', 'L Livingstone',
       'T Natarajan', 'B Stanlake', 'KC Cariappa', 'NB Singh',
       'Ankit Soni', 'LH Ferguson', 'MJ Henry', 'Avesh Khan', 'CJ Jordan',
       'P Amarnath', 'B Geeves', 'D Salunkhe', 'DNT Zoysa',
       'Gagandeep Singh', 'DJ Thornely', 'DP Vijaykumar', 'RR Raje',
       'M Ntini', 'A Nel', 'BAW Mendis', 'PM Sarvesh Kumar',
       'T Henderson', 'AM Salvi', 'VS Malik', 'DP Nannes', 'YA Abdulla',
       'FH Edwards', 'SM Harwood', 'S Tyagi', 'Mashrafe Mortaza',
       'CK Langeveldt', 'A Uniyal', 'SJ Srivastava', 'SE Bond',
       'L Ablish', 'AN Ahmed', 'BA Bhatt', 'JE Taylor', 'P Parameswaran',
       'AA Kazi', 'Anand Rajan', 'SS Mundhe', 'DAJ Bracewell',
       'TP Sudhindra', 'KMDN Kulasekara', 'BW Hilfenhaus',
       'Harmeet Singh (2)', 'P Suyal', 'IC Pandey', 'Shivam Sharma',
       'K Santokie', 'BE Hendricks', 'Karanveer Singh', 'RG More',
       'J Yadav', 'GS Sandhu', 'JW Hastings', 'P Sahu',
       'Mustafizur Rahman', 'T Shamsi', 'SM Boland', 'KM Asif', 'L Ngidi',
       'D Willey', 'S Lamichhane', 'S Sharma', 'V Chakravarthy',
       'L Ferguson', 'J Behrendorff', 'S Kuggeleijn', 'A Joseph',
       'H Gurney', 'K Ahmed', 'O Thomas', 'A Roy', 'S Warrier',
       'K Khejroliya', 'DM Bravo', 'AR Bawne', 'SS Shaikh', 'B Sumanth',
       'MS Wade', 'A Mukund', 'A Dananjaya', 'H Brar', 'P Raj', 'S Singh',
       'CJ Jordan (sub)', 'V Shankar (sub)', 'R Dhawan (sub)',
       'MA Agarwal (sub)', 'R Powell (sub)', 'CR Brathwaite (sub)',
       'DA Miller (sub)', 'J Suchith (sub)', 'AM Rahane (sub)',
       'R Vinay Kumar (sub)', 'T Kohli (sub)', 'B Chipli (sub)', 'U Kaul',
       'Younis Khan', 'AB de Villiers (sub)', 'Shoaib Malik (sub)',
       'RA Jadeja (sub)', 'DA Warner (sub)', 'LR Shukla (sub)',
       'FY Fazal (sub)', 'Y Nagar (sub)', 'AS Raut (sub)',
       'GJ Bailey (sub)', 'KP Appanna (sub)', 'JP Duminy (sub)',
       'KAJ Roach', 'M Kaif (sub)', 'RS Sodhi', 'S Dhawan (sub)',
       'A Mukund (sub)', 'Shakib Al Hasan (sub)', 'F du Plessis (sub)',
       'KB Arun Karthik (sub)', 'Y Gnaneswara Rao', 'KH Devdhar',
       'TM Dilshan (sub)', 'T Mishra', 'LA Pomersbach (sub)',
       'DJ Harris (sub)', 'NLTC Perera (sub)', 'P Dogra (sub)',
       'WP Saha (sub)', 'PJ Sangwan (sub)', 'DT Christian (sub)',
       'BB McCullum (sub)', 'UA Birla', 'K Upadhyay', 'R Shukla (sub)',
       'AR Patel (sub)', 'WD Parnell (sub)', 'AV Wankhade (sub)',
       'MC Henriques (sub)', 'RR Rossouw (sub)', 'BR Dunk (sub)',
       'J Yadav (sub)', 'HH Pandya (sub)', 'B Aparajith (sub)',
       'UBT Chand (sub)', 'R Sathish (sub)', 'R Salam', 'S Midhun'],
      dtype=object)

### How many teams played in IPL

In [15]:
pd.concat([df_ball['batting_team'],df_ball['bowling_team']]).nunique()

15

### Name of all the teams

In [16]:
pd.concat([df_ball['batting_team'],df_ball['bowling_team']]).unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

### Top 10 batsman who has highest runs in IPL through all seasons

In [17]:
d=df_ball.groupby('batsman')['batsman_runs'].sum()
d1=d.sort_values(ascending=False)
d1.head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

### Check all the different dismissal type

In [18]:
df_ball['dismissal_kind'].unique()[1:]

array(['caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

### How many balls did Sachin Tendulkar face

In [19]:
df_ball[df_ball['batsman']=='SR Tendulkar']['ball'].count()

2044

### Match and innings wise all bating team's total runs.(first 10 records)

In [20]:
df_ball.groupby(['match_id','inning','batting_team'])['total_runs'].sum().reset_index().head(10)

   match_id  inning                 batting_team  total_runs
0         1       1          Sunrisers Hyderabad         207
1         1       2  Royal Challengers Bangalore         172
2         2       1               Mumbai Indians         184
3         2       2       Rising Pune Supergiant         187
4         3       1                Gujarat Lions         183
5         3       2        Kolkata Knight Riders         184
6         4       1       Rising Pune Supergiant         163
7         4       2              Kings XI Punjab         164
8         5       1  Royal Challengers Bangalore         157
9         5       2             Delhi Daredevils         142

### Which team score more than 200 maximum times(How many times)?

In [21]:
d=df_ball.groupby(['match_id','inning','batting_team'])['total_runs'].sum().reset_index()
#d['total_runs']>200
a=d[d['total_runs']>200]
a['batting_team'].value_counts()

batting_team
Royal Challengers Bangalore    17
Chennai Super Kings            16
Mumbai Indians                 14
Kings XI Punjab                14
Sunrisers Hyderabad            10
Kolkata Knight Riders           9
Rajasthan Royals                8
Delhi Daredevils                7
Gujarat Lions                   1
Deccan Chargers                 1
Delhi Capitals                  1
Name: count, dtype: int64

### Batsman who had played for KKR

In [22]:
df_ball[df_ball['batting_team']=='Kolkata Knight Riders']['batsman'].unique()

array(['G Gambhir', 'CA Lynn', 'RV Uthappa', 'MK Pandey', 'YK Pathan',
       'SA Yadav', 'CR Woakes', 'SP Narine', 'C de Grandhomme',
       'Shakib Al Hasan', 'NM Coulter-Nile', 'Kuldeep Yadav', 'UT Yadav',
       'DM Bravo', 'SP Jackson', 'TA Boult', 'IR Jaggi', 'PP Chawla',
       'AS Rajpoot', 'SC Ganguly', 'BB McCullum', 'RT Ponting',
       'DJ Hussey', 'Mohammad Hafeez', 'WP Saha', 'LR Shukla',
       'AB Agarkar', 'M Kartik', 'I Sharma', 'DB Das', 'Salman Butt',
       'BJ Hodge', 'Umar Gul', 'AB Dinda', 'A Chopra', 'T Taibu',
       'Iqbal Abdulla', 'Shoaib Akhtar', 'CH Gayle', 'MC Henriques',
       'SB Bangar', 'Yashpal Singh', 'AN Ghosh', 'BAW Mendis',
       'MN van Wyk', 'AD Mathews', 'Mashrafe Mortaza', 'SS Shaikh',
       'MK Tiwary', 'CA Pujara', 'OA Shah', 'RS Gavaskar', 'SE Bond',
       'Mandeep Singh', 'CK Langeveldt', 'MS Bisla', 'JH Kallis',
       'EJG Morgan', 'R Bhatia', 'B Lee', 'L Balaji', 'BJ Haddin',
       'SP Goswami', 'RN ten Doeschate', 'MV Boucher', 'Mohammed Shami',
       'R McLaren', 'PJ Sangwan', 'SMSM Senanayake', 'S Narwal',
       'P Dogra', 'R Vinay Kumar', 'M Morkel', 'AD Russell', 'J Botha',
       'PJ Cummins', 'GB Hogg', 'Azhar Mahmood', 'C Munro', 'R Sathish',
       'JO Holder', 'N Rana', 'KD Karthik', 'R Singh', 'T Curran',
       'S Gill', 'S Mavi', 'MG Johnson', 'P Krishna', 'J Searles',
       'N Naik', 'H Gurney', 'J Denly', 'CR Brathwaite', 'P Raj',
       'KC Cariappa'], dtype=object)

### Player who has the highest centuries in ipl history

In [35]:
d=df_ball.groupby(['batsman','match_id'])[['batsman_runs']].sum().reset_index()
d
d1=d[d['batsman_runs']>=100]
d1
d1['batsman'].value_counts().head(1).index[0]

'CH Gayle'

### Number of balls faced by Virat Kohli

In [36]:
df_ball[(df_ball['batsman']=='V Kohli')]['ball'].count()

4211

### Match and innings wise score in first powerplay

In [37]:
df_ball.groupby(['match_id','inning','batting_team'])['total_runs'].sum().reset_index()

      match_id  inning                 batting_team  total_runs
0            1       1          Sunrisers Hyderabad         207
1            1       2  Royal Challengers Bangalore         172
2            2       1               Mumbai Indians         184
3            2       2       Rising Pune Supergiant         187
4            3       1                Gujarat Lions         183
...        ...     ...                          ...         ...
1523     11413       2               Delhi Capitals         170
1524     11414       1               Delhi Capitals         155
1525     11414       2          Chennai Super Kings         162
1526     11415       1               Mumbai Indians         152
1527     11415       2          Chennai Super Kings         157

[1528 rows x 4 columns]

### Total runs of top 5 teams in IPL

In [38]:
df_ball.groupby('batting_team')['total_runs'].sum().sort_values(ascending=False).head()

batting_team
Mumbai Indians                 29806
Royal Challengers Bangalore    28125
Kings XI Punjab                27891
Kolkata Knight Riders          27415
Chennai Super Kings            26418
Name: total_runs, dtype: int64

### Read matches.csv as dataframe called df_matches

In [23]:
df_match=pd.read_csv('matches.csv')
df_match

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

### Count of matches played throughout the season

In [24]:
df_match['id'].count()

756

### Top 10 players with most man of the match awards

In [25]:
d=df_match.groupby('player_of_match')['player_of_match'].count().sort_values(ascending=False)
d
d.head(10)

player_of_match
CH Gayle          21
AB de Villiers    20
MS Dhoni          17
DA Warner         17
RG Sharma         17
YK Pathan         16
SR Watson         15
SK Raina          14
G Gambhir         13
MEK Hussey        12
Name: player_of_match, dtype: int64

### How many matches were won by a team per season

In [39]:
df_match.groupby(['season','winner'])['id'].count()

season  winner
2008    Chennai Super Kings             9
        Deccan Chargers                 2
        Delhi Daredevils                7
        Kings XI Punjab                10
        Kolkata Knight Riders           6
                                       ..
2019    Kolkata Knight Riders           6
        Mumbai Indians                 11
        Rajasthan Royals                5
        Royal Challengers Bangalore     5
        Sunrisers Hyderabad             6
Name: id, Length: 100, dtype: int64

### Which team won by maximum runs

In [40]:
df_match.groupby('winner')['win_by_runs'].sum().sort_values(ascending=False).head(1).index[0]

'Mumbai Indians'

### Which team won by max wicket in 2019

In [42]:
df_match[df_match['season']== 2019].groupby('winner')['win_by_wickets'].count().sort_values(ascending=False).head(1).index[0]

'Mumbai Indians'

### Finding the records of teams that won by batting first

In [43]:
df_match[(df_match['toss_decision']=='bat') & (df_match['toss_winner']== df_match['winner'])].shape[0]

134

### Finding the records of teams where match win by 1 runs

In [44]:
df_match[df_match['win_by_runs']==1]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
58,59,2017,Hyderabad,2017-05-21,Mumbai Indians,Rising Pune Supergiant,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,KH Pandya,"Rajiv Gandhi International Stadium, Uppal",NJ Llong,S Ravi,NaN
105,106,2008,Mumbai,2008-05-21,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Kings XI Punjab,1,0,SE Marsh,Wankhede Stadium,BF Bowden,GA Pratapkumar,NaN
163,164,2009,Johannesburg,2009-05-17,Kings XI Punjab,Deccan Chargers,Deccan Chargers,field,normal,0,Kings XI Punjab,1,0,Yuvraj Singh,New Wanderers Stadium,S Ravi,RB Tiffin,NaN
344,345,2012,Delhi,2012-04-29,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,1,0,V Sehwag,Feroz Shah Kotla,S Ravi,RJ Tucker,NaN
350,351,2012,Pune,2012-05-03,Mumbai Indians,Pune Warriors,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,SL Malinga,Subrata Roy Sahara Stadium,Asad Rauf,S Asnani,NaN
518,519,2015,Chennai,2015-04-09,Chennai Super Kings,Delhi Daredevils,Delhi Daredevils,field,normal,0,Chennai Super Kings,1,0,A Nehra,"MA Chidambaram Stadium, Chepauk",RK Illingworth,VA Kulkarni,NaN
598,599,2016,Delhi,2016-04-27,Gujarat Lions,Delhi Daredevils,Delhi Daredevils,field,normal,0,Gujarat Lions,1,0,CH Morris,Feroz Shah Kotla,M Erasmus,S Ravi,NaN
614,615,2016,Chandigarh,2016-05-09,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Royal Challengers Bangalore,1,0,SR Watson,"Punjab Cricket Association IS Bindra Stadium, ...",AK Chaudhary,HDPK Dharmasena,NaN
734,11330,2019,Bengaluru,21/04/19,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,Royal Challengers Bangalore,1,0,PA Patel,M. Chinnaswamy Stadium,Vineet Kulkarni,Rod Tucker,Anil Chaudhary
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong